//documents.php css
@import 'variables';
@import 'mixins';
@import 'reset';

.card{
    background-color: lighten($yellow,50%);
    border:none;
    border-radius:0;
    border-left:2px solid $yellow;
    box-shadow:1px 2px 1px 1px darken($lightGrey,5%);
    transition:all 0.3s;
    a{
        color:darken($yellow,20%);
        font-size:1rem;
        .fa-file-pdf{
            color:$red;
            margin-right:0.5rem;
        }
    }
    &:hover,&:focus{
        box-shadow:0px 2px 1px 1px darken($lightGrey,1%);
    }
}